video {
    object-fit: cover;
    width:100%;
    height:100%;
    position: fixed;
    z-index: -1;
}

.main-container {
    /* background: url("images/FullSetup.jpeg") center center/cover no-repeat; */
    
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.main-container h1 {
    color:white;
    font-size: 100px;
    margin-top: 0px;
    margin-left:-500px;
}

.main-container p {
    color:white;
    font-size: 30px;
    margin-top: -10px;
    margin-bottom:10px;
    
}

.info-container {
    padding-left:100px;
    align-items: center;
    width:1200px;
    background:rgba(0,0,0,0.7);
    border-radius:0;
    

}

.main-btns {
    margin-top: 32px;
}

.main-btns .btn {
    margin: 6px;
}

.fa-project-diagram {
    margin-left:5px;
}

@media screen and (max-width: 960px) {
    .info-container {
        margin-left:300px;
    }
}

@media screen and (max-width: 960px) {
    .main-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .main-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }
}

@media screen and (max-width: 768px) {
    .info-container {
        margin-top:-10px;
        margin-left:500px;
    }
}

@media screen and (max-width: 768px) {
     .info-container p{
        font-size: 150%;
        margin-left:20px;
        margin-top:10px;
    }
}
@media screen and (max-width: 768px) {
    .info-container h1{
       font-size: 30px;
       margin-left:-550px;
       margin-top:10px;
   }
}

@media screen and (max-width: 768px) {
    .main-btns {
        padding-left:10px;
    }
}

