.form {
    display:flex;
    position: relative;
    border:2px solid red;
    height:600px;
    width:1200px;
    color:rgb(228, 228, 228);
    background-color: rgba(0,0,0,0.4);
    font-size: 30px;
    padding:20px;
    margin-left:50px;
    align-items: center;
    justify-content: center;
}

.formWord {
    width:800px;
}

.formWord input{
    width:800px;
    height:50px;
    background-color:rgba(0,0,0,0.2);
    border:2px solid rgba(0,0,0,0.4);
    color:white;
    font-size: 20px;
    padding-left:10px;
    margin-bottom:20px;
}

.formWord textarea{
    width:800px;
    height:100px;
    background-color:rgba(0,0,0,0.2);
    border:2px solid rgba(0,0,0,0.4);
    color:white;
    font-size: 20px;
    padding-left:10px;
    padding-top:10px;
}

.formWord button{
    position:absolute;
    left:0px;
    bottom:-60px;
    height:50px;
    width:200px;
    color:white;
    background-color:rgba(0,0,0,0.5);
    border:1px solid red;
    font-size:28px;
}